.gb_Jc {
    width: 40px;
}

.sections {
    display: flex;
}

aside {
    width: 200px;
    padding: 2rem;
}

aside ul {
    list-style-type: none;
}

aside li {
    margin: 1rem 0;
    position: relative;
    text-decoration: none;
    flex-direction: row;
}

aside li a {
    text-decoration: none;
}

aside li a:hover {
    transition: 0.4s;
    text-decoration: underline;

    
}
