
header {
    background-color: #6c7aef; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
}


nav ul.i {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul.i li {
    margin-right: 20px;
    font-size: 16px;
    color: white;
}

nav ul.i li a {
    text-decoration: none;
    color: white;
}


.write {
    display: flex;
}

.write_search {
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: 250px;
}

.search_tur {
    text-align: center;
    margin-left: 300px;

}

.menu-icon {
    color: white;
}
.search-button {
    background-color: white;
    border: none;
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
}


.login-button {
    color: white;
    background-color: #3e5cb1;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.login-button a {
    color: white;
    text-decoration: none;
}

